/* 
@font-face {
	font-family: 'CMUSerifRoman';
	src: url('Fonts/cmunrm.eot');
	src: url('Fonts/cmunrm.eot?#iefix') format('embedded-opentype'),
		 url('Fonts/cmunrm.woff') format('woff'),
		 url('Fonts/cmunrm.ttf') format('truetype'),
		 url('Fonts/cmunrm.svg#cmunrm') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'CMUSerifBold';
	src: url('Fonts/cmunbx.eot');
	src: url('Fonts/cmunbx.eot?#iefix') format('embedded-opentype'),
		 url('Fonts/cmunbx.woff') format('woff'),
		 url('Fonts/cmunbx.ttf') format('truetype'),
		 url('Fonts/cmunbx.svg#cmunbx') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'CMUSerifItalic';
	src: url('Fonts/cmunti.eot');
	src: url('Fonts/cmunti.eot?#iefix') format('embedded-opentype'),
		 url('Fonts/cmunti.woff') format('woff'),
		 url('Fonts/cmunti.ttf') format('truetype'),
		 url('Fonts/cmunti.svg#cmunti') format('svg');
	font-weight: normal;
	font-style: italic;
} */

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #24292e;
  font-family: "CMUSerifRoman", "CMU Serif Roman", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  font-variant-ligatures: common-ligatures;
}

strong {
  font-weight: inherit;
  font-family: "CMUSerifBold";
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre {
  font-family: "CMUTypewriterTextRegular", monospace, monospace;
  font-size: 1em;
}

input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: #777a7e;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  text-decoration: underline;
}

hr {
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #777a7e;
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
}

hr::before {
  display: table;
  content: "";
}

hr::after {
  display: table;
  clear: both;
  content: "";
}

td,
th {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0 !important;
  margin-block-end: 0 !important;
  text-indent: 60px ;
} 

i, em {
  font-family: "CMUSerifItalic";
}

b {
  font-family: "CMUSerifBold";
}

ul {
  list-style-type: square;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

ol ol,
ul ol {
  list-style-type: lower-roman;
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha;
}

dd {
  margin-left: 0;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "CMUTypewriterTextRegular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
  word-wrap: normal;
}

.markdown-body::before {
  display: table;
  content: "";
}

.markdown-body::after {
  display: table;
  clear: both;
  content: "";
}

.markdown-body>*:first-child {
  margin-top: 0 !important;
}

.markdown-body>*:last-child {
  margin-bottom: 0 !important;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

.anchor:focus {
  outline: none;
}

p,
blockquote,
ul,
ol,
dl,
table,
pre {
  margin-top: 0;
  margin-bottom: 16px;
}

blockquote {
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
  color: #777a7e;
  border-top: 1px solid #777a7e;
  border-bottom: 1px solid #777a7e;
  text-indent: 0;
}

blockquote>:first-child, blockquote>:last-child {
  text-indent: 0;
}

kbd {
  display: inline-block;
  padding: 3px 3px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #777a7e;
  border-radius: 5px;
  box-shadow: inset 0 -1px 0 #777a7e;
  font: 11px "CMUTypewriterTextRegular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

h1 {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  font-size: 1.5em;
  font-family: "CMUSerifBold";
}

h2 {
  font-family: "CMUSerifBold";
  font-weight: bolder;
  font-size: 1em;
}

h3 {
  font-family: "CMUSerifItalic";
  font-style: italic;
  font-weight: bolder;
  font-size: 1em;
}

h4 {
  font-family: "CMUSerifItalic";
  font-style: italic;
  font-weight: bold;
  font-size: 1em;
  text-decoration: underline;
}

h5 {
  font-family: "CMUSerifItalic";
  font-style: italic;
  font-weight: bold;
  font-size: 1em;
  text-decoration: underline;
  color: #444d56;
  
}

h6 {
  font-family: "CMUSerifItalic";
  font-style: italic;
  font-weight: lighter;
  font-size: 1em;
  text-decoration: underline;
  color: #444d56;
}

ul,
ol {
  padding-left: 2em;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

li>p {
  margin-top: 16px;
}

li+li {
  margin-top: 0.25em;
}

dl {
  padding: 0;
}

dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-family: "CMUSerifItalic";
  font-weight: 600;
}

dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

table {
  width: 80%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

table th {
  font-family: "CMUSerifBold";
}

table th,
table td {
  padding: 3px 10px;
  border: 0.5px solid #777a7e;
}

img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
  border-style: none;
}

img[align=right] {
  padding-left: 20px;
}

img[align=left] {
  padding-right: 20px;
}

code {
  font-family: "CMUTypewriterTextRegular", "FiraCode", "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27,31,35,0.05);
  border-radius: 5px;
}

code::before,
code::after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.highlight {
  margin-bottom: 16px;
}

.highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.highlight pre,
pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 5px;
}

pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

pre code::before,
pre code::after {
  content: normal;
}

.full-commit .btn-outline:not(:disabled):hover {
  color: #777a7e;
  border-color: #777a7e;
}

:checked+.radio-label {
  position: relative;
  z-index: 1;
  border-color: #777a7e;
}

.repo-config-option:not(:checked) ~ .time-remaining {
  display: none;
}

.task-list-item {
  list-style-type: none;
}

.task-list-item+.task-list-item {
  margin-top: 3px;
}

.task-list-item-checkbox {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}